.mainSidebar {
  width: 25%;
  background-color: #1034a6;
  transition: all 0.5s;
  position: relative;
}

.mainSidebarClose {
  width: 0%;
  background-color: #1034a6;
  transition: all 0.5s;
  position: relative;
}

.sidebarMenu {
  padding: 10px;
}

.SidbarMenuItem {
  background-color: white;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.menuLabel {
  font-weight: 600;
  font-size: 14px;
}

.contactMenu {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.socialIcon {
  background-color: #1034a6;
  padding: 10px;
  border: none;
  border-radius: 100px;
}

.BookDemo {
  background-color: #e33530;
  border-radius: 40px;
  padding: 10px;
  border: none;
  font-weight: 600;
  color: white;
  width: 90%;
  margin: auto;
  display: block;
}

.bottomBox {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
