.loginform {
  padding: 5%;
}

.main {
  margin: auto;
  display: block;
  width: 40%;
  margin-top: 10%;
}

.Registration {
  width: 30%;
  margin: auto;
  display: block;
  background-color: transparent;
  border: none;
  margin-top: 10px;
  color: #0d6efd;
}
