.reportButton {
  background-color: #1034a6;
  color: white;
  margin: auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  border: none;
  border-radius: 7px;
}

.reportButton:hover {
  background-color: #1034a6;
  color: white;
}

.pdfMain {
  padding: 5%;
}

.heading {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin: 2%;
}

.ProjectName {
  text-align: center;
  background-color: #ccc;
  font-size: 24px;
  font-weight: 900;
}
